body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background-color: #F4F6F9;
    color: #1F2F4D;
}

/* Header */
header {
    background-color: #2F436E;
    color: #FFFFFF;
    padding: 20px;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 270px;
}

/* Navigation */
nav {
    background-color: #1F2F4D;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    color: #FFFFFF;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

nav a:hover {
    background-color: #B02A2A;
}

/* Cards */
.card {
    background: #FFFFFF;
    margin: 25px;
    padding: 25px;
    border-left: 6px solid #B02A2A;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

/* Module Buttons */
button {
    background-color: #2F436E;
    color: #FFFFFF;
    border: none;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

button:hover {
    background-color: #B02A2A;
}

/* Hidden Modules */
.hidden {
    display: none;
}

/* Footer */
footer {
    background-color: #1F2F4D;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

/* Responsive */
@media(max-width: 768px){
    .header-container {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        width: 70px;
    }
}